/* Error: This file is already being loaded.
 *     ,
 * 416 | @import "importation";
 *     |         ^^^^^^^^^^^^^
 *     '
 *   SASS\accueil.scss 416:9    @import
 *   SASS\importation.scss 3:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: This file is already being loaded.\a     \2577 \a 416 \2502  @import "importation";\d\a     \2502          ^^^^^^^^^^^^^\a     \2575 \a   SASS\\accueil.scss 416:9    @import\a   SASS\\importation.scss 3:9  root stylesheet';
}
