@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Regular.ttf") format("truetype");
}
body {
  margin: 0px;
}

/*.overlay
{
  display:flex;
  position: fixed;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  justify-content: center;
  align-items: center;
  animation: opacity 1s;
  animation-fill-mode: forwards;
  animation-delay: 3s;

}

@keyframes opacity
{
    0% {opacity:1;}
    100%{opacity:0;}
}

.spinner
{
  background:transparent;
  width: 50px;
  height: 50px;
  border-right:$color-secondary 10px dotted;
  border-left: $color-secondary 10px solid;
  border-top: $color-tertiary 10px solid;
  border-bottom: $color-primary 10px solid;
  border-radius: 34px;
  z-index:3;
  animation: spin 1s linear infinite;

}

@keyframes spin
{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
*/
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__top {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__top .icon__arrow {
  display: none;
}

.header__top-img {
  width: 50%;
}

.header__localisation {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-size: 0.8rem;
  font-weight: normal;
  color: black;
  border-top: solid 1px grey;
  box-shadow: 0px 0px 3px 0px;
}

.icon_localisation {
  align-self: center;
  padding-right: 10px;
}

.header__heading {
  text-align: center;
  background-color: #f6F6F6;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 13%;
  padding-left: 13%;
}
.header__heading--primary {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: bold;
  color: black;
}
.header__heading--secondary {
  font-family: "Roboto";
  font-size: 0.8rem;
  font-weight: normal;
  color: black;
}

.__button {
  border-radius: 30px;
  height: 40px;
  margin-top: 10px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border: none;
  filter: saturate(140%);
  box-shadow: 0px 2px 4px #c1bdbd;
  padding-left: 5%;
  padding-right: 5%;
}
.__button--send {
  width: 20%;
  height: 20px;
  box-shadow: none;
  font-size: 0.6rem;
  margin-top: 10px;
  cursor: pointer;
}

/*MISE EN PAGE DE LA PARTIE FONCTIONNEMENT*/
.heading {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: bold;
  color: black;
  align-self: flex-start;
  padding-left: 10%;
  padding-top: 7%;
}

.operation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}

.operation__blocks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.operation__block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 9px -2px #c1bdbd;
  height: 60px;
  width: 80%;
  margin-top: 5%;
  border-radius: 20px;
  font-family: "Roboto";
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
}
.operation__block--pink {
  background-color: rgba(147, 86, 220, 0.2);
}

.operation__block:hover {
  background-color: white;
  box-shadow: 0px 4px 9px -2px #afacac;
}

.operation-block__number {
  position: relative;
  right: 10px;
  display: flex;
  height: 25px;
  width: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 34px;
  background-color: #9356DC;
  font-family: "Roboto";
  font-size: 0.7rem;
  font-weight: normal;
  color: white;
}

.operation-block__text {
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 4%;
}
.operation-block__text .icon {
  padding-right: 8%;
}
.operation-block__text .icon--pink {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  align-items: center;
  padding-bottom: 10%;
}

.block__restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.block_restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0px 4px 9px -2px #c1bdbd;
  line-height: 0.5rem;
  font-family: "Roboto";
  font-size: 0.8rem;
  font-weight: normal;
  color: black;
  margin-bottom: 5%;
}

.block_restaurant--bistro {
  background: url("images/restaurants/Restaurant_bistro.jpg") no-repeat;
  background-size: cover;
}

.block_restaurant--dragon {
  background: url("images/restaurants/Restaurant_asiat.jpg") no-repeat;
  background-size: cover;
}

.block_restaurant--vege {
  background: url("images/restaurants/Restaurant_vege.jpg") no-repeat;
  background-size: cover;
}

.block_restaurant--theatre {
  background: url("images/restaurants/Restaurant_fr.jpg") no-repeat;
  background-size: cover;
}

.block_restaurant__heading {
  display: block;
}
.block_restaurant__heading--new {
  background-color: #99E2D0;
  font-family: "Roboto";
  font-size: 0.7rem;
  font-weight: bold;
  color: black;
  width: 30%;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #278870;
  align-self: flex-end;
  margin: 20px;
  text-decoration: none;
}

.block_restaurant__text {
  cursor: pointer;
  padding-left: 10px;
  text-decoration: none;
  color: black;
}
.block_restaurant__text--bold {
  font-weight: bold;
}

.block_restaurant__description {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 0 0 15px 15px;
}

.icon__favoris {
  padding-right: 10px;
  width: 10%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

.icon__heart {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.icon__heart--filled {
  position: absolute;
  z-index: 2;
  opacity: 0;
  color: #FF79DA;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0s;
  content: "";
  pointer-events: none;
}

.icon__favoris:hover .icon__heart--filled {
  opacity: 1;
  transition: all 1s;
}
.icon__favoris:hover .icon__heart {
  opacity: 0;
  transition: all 0.5s;
}

/*MISE EN PAGE DU FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  line-height: 1.3rem;
  padding-left: 10%;
}

.footer__logo {
  width: 30%;
  padding-top: 6%;
  padding-bottom: 4%;
  filter: invert(100%);
}

.footer__link {
  font-family: "Roboto";
  font-size: 0.8rem;
  font-weight: normal;
  color: white;
  text-decoration: none;
}
.footer__link .footer__icon {
  font-size: 0.6rem;
  padding-right: 2%;
}
.footer__link .footer__icon--fork {
  padding-right: 4.7%;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__contact {
  font-family: "Roboto";
  font-size: 0.8rem;
  font-weight: normal;
  color: white;
  text-decoration: none;
  margin-bottom: 5%;
}

/*mise en page du formulaire de contact*/
#formulaire_contact {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 0px;
  overflow: hidden;
  transition: all 1s;
}

.footer__contact:active #formulaire_contact {
  height: 100%;
}

.icon__close {
  color: #ffffff59;
  font-size: 0.6rem;
  align-self: flex-end;
  transition: all 1s;
}

.icon__close:active #formulaire_contact {
  height: 0px;
  overflow: hidden;
}

ul {
  list-style: none;
  padding-left: 0px;
}

li {
  display: flex;
  flex-direction: column;
}

.padding {
  padding-bottom: 20px;
}

.label__bordure {
  height: 1px;
  background: #ffffff59;
}

input::placeholder {
  color: #ffffff59;
  font-size: 0.8rem;
  font-style: italic;
}

input {
  background: transparent;
  border: none;
}

textarea {
  background: transparent;
  border: none;
}

textarea::placeholder {
  color: #ffffff59;
  font-size: 0.8rem;
  font-family: roboto;
  font-style: italic;
  position: relative;
  top: 15px;
}

@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Regular.ttf") format("truetype");
}
@media screen and (min-width: 768px) {
  body {
    margin: auto;
  }

  .header__localisation {
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: normal;
    color: black;
  }

  .header__heading {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .header__heading--primary {
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
  }
  .header__heading--secondary {
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: normal;
    color: black;
  }

  .__button {
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }

  .operation {
    padding-bottom: 5%;
  }
  .operation__blocks {
    display: flex;
    width: 80%;
  }

  .operation h2 {
    padding-top: 5%;
  }

  .operation__blocks {
    flex-direction: row;
    width: 80%;
  }

  .operation__block {
    width: 30%;
    margin-right: 5%;
    margin-top: 0%;
  }

  .restaurants {
    padding-bottom: 5%;
  }

  .restaurants h2 {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .block__restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
  }

  .block_restaurant {
    width: 250px;
    margin-right: 5%;
    margin-bottom: 5%;
    display: flex;
  }

  .block_restaurant__description {
    background: #F2F2F2;
    border-radius: 0px 0px 15px 15px;
  }

  .block_restaurant__text {
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: normal;
    color: black;
    padding-top: 10px;
    width: 100%;
  }
  .block_restaurant__text--bold {
    font-size: bold;
  }

  .heading {
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: bold;
    color: black;
    padding-bottom: 20px;
    padding-top: 4%;
  }

  .footer__logo {
    width: 30%;
  }

  .footer__link .footer__icon--fork {
    padding-right: 2.8%;
  }

  .footer__link {
    width: 200px;
  }
}
body {
  margin: 0px;
}

.header__top {
  margin-bottom: -30px;
}
.header__top .icon__arrow {
  display: flex;
  text-decoration: none;
  color: black;
  align-self: center;
  position: relative;
  right: 30px;
}

.restaurant__photo {
  position: relative;
  top: 30px;
  z-index: -1;
  height: 200px;
}
.restaurant__photo--bistro {
  background: url("images/restaurants/Restaurant_bistro.jpg");
  background-size: cover;
}
.restaurant__photo--dragon {
  background: url("images/restaurants/Restaurant_asiat.jpg");
  background-size: cover;
}
.restaurant__photo--vege {
  background: url("images/restaurants/Restaurant_vege.jpg");
  background-size: cover;
}
.restaurant__photo--theatre {
  background: url("images/restaurants/Restaurant_fr.jpg");
  background-size: cover;
  background-position-y: 70%;
}

.menu {
  background: #eee;
  border-radius: 35px 35px 0px 0px;
  padding-bottom: 30px;
}

.heading {
  font-family: Shrikhand;
  font-size: 0.7rem;
  display: flex;
  padding: 0px;
  justify-content: center;
}

.icon__heart {
  padding-left: 10px;
}

.icon__heart--filled {
  padding-left: 10px;
}

.carte {
  font-family: roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 15px;
}

.carte__heading {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-left: 15px;
  padding-bottom: 10px;
}
.carte__heading h2 {
  text-align: flex-start;
  font-size: 0.9rem;
}
.carte__heading .bordure {
  width: 30px;
  background: #99E2D0;
  height: 3px;
  position: relative;
  bottom: 10px;
}

.block__menu {
  font-family: "roboto";
  background: white;
  border-radius: 10px 10px 10px 10px;
  width: 90%;
  height: 50px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 9px -2px #c1bdbd;
  padding-left: 10px;
  position: relative;
  bottom: 10px;
  display: flex;
  cursor: pointer;
}
.block__menu--nom {
  font-family: "Roboto";
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
  margin: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.block__menu--description {
  font-family: "Roboto";
  font-size: 0.8rem;
  font-weight: normal;
  color: black;
  display: flex;
  justify-content: space-between;
  margin: 3px;
}

.block__menu--accompagnement {
  min-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 3px;
}

.block__menu--texte {
  padding-top: 3px;
  width: 100%;
  width: 100%;
}

.icon__check {
  color: white;
}

.contents {
  height: 50px;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  display: flex;
  width: 0px;
  overflow: hidden;
  border-radius: 0px 10px 10px 0px;
  transition: all 0.5s;
}

.block__menu:hover .contents {
  -webkit-transition: width 0.5s ease-in;
  -moz-transition: width 0.5s ease-in;
  -o-transition: width 0.5s ease-in;
  transition: width 0.5s ease-in;
  width: 50px;
}

.block__menu:hover .block__menu--texte {
  width: calc(100% - 50px);
  -webkit-transition: width 0.5s ease-in;
  -moz-transition: width 0.5s ease-in;
  -o-transition: width 0.5s ease-in;
  transition: width 0.5s ease-in;
}

.block__menu:hover .icon__check {
  transform: rotate(360deg);
  transition: 0.5s ease-in-out;
  -webkit-transform: rotate(360deg);
}

.block__menu--1 {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

.block__menu--2 {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.block__menu--3 {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}

.block__menu--4 {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.prix {
  font-weight: bold;
  padding-right: 10px;
}

.commander {
  display: flex;
  justify-content: center;
}

.__button {
  width: 140px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header__top .icon__arrow {
    position: relative;
    right: 110px;
  }

  .header__top-img {
    width: 40%;
  }

  .heading {
    font-size: 1rem;
    padding-left: 70px;
  }

  .carte__heading {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-bottom: 10px;
  }

  .block__restaurants {
    width: 60%;
  }

  .restaurant__photo {
    height: 400px;
  }

  .block__menu {
    width: 300px;
  }

  .icon__heart--filled {
    padding-left: 10px;
  }

  .footer__link .footer__icon {
    padding-right: 1%;
  }

  .footer__link .footer__icon--fork {
    padding-right: 1.9%;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant__photo {
    background-position-y: 50%;
  }
}

/*# sourceMappingURL=La_table_du_dragon.css.map */
