$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-footer: #ffffff59;

@mixin heading-style($size, $weight,$color)
{
    font-family: "Roboto";
    font-size:$size;
    font-weight: $weight;
    color: $color;
}


@font-face {
    font-family: 'Shrikhand';
    src: url('../polices/Shrikhand/Shrikhand-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Roboto';
    src: url('../polices/Roboto/Roboto-Regular.ttf')format('truetype');
}

body 
{
    margin: 0px;
}

/*.overlay
{
  display:flex;
  position: fixed;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  justify-content: center;
  align-items: center;
  animation: opacity 1s;
  animation-fill-mode: forwards;
  animation-delay: 3s;

}

@keyframes opacity
{
    0% {opacity:1;}
    100%{opacity:0;}
}

.spinner
{
  background:transparent;
  width: 50px;
  height: 50px;
  border-right:$color-secondary 10px dotted;
  border-left: $color-secondary 10px solid;
  border-top: $color-tertiary 10px solid;
  border-bottom: $color-primary 10px solid;
  border-radius: 34px;
  z-index:3;
  animation: spin 1s linear infinite;
  
}

@keyframes spin
{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
*/


.header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__top
{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    .icon__arrow
{
    display:none;
}
}

.header__top-img
{
    width: 50%
}    

.header__localisation
{
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    @include heading-style(0.8rem,normal,black);
    border-top: solid 1px grey;
    box-shadow: 0px 0px 3px 0px;
}

.icon_localisation
{
    align-self: center;
    padding-right: 10px;
}

.header__heading
{
    text-align:center;
    background-color: #f6F6F6;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 13%;
    padding-left: 13%;
&--primary
{
    @include heading-style(1rem, bold,black);
}
&--secondary
    {
    @include heading-style(0.8rem, normal,black);
}
}

.__button
{
    border-radius: 30px;
    height: 40px;
    margin-top: 10px;
    background: linear-gradient(to bottom right,$color-secondary, $color-primary);
    color: white;
    border: none;
    filter: saturate(140%);
    box-shadow:  0px 2px 4px #c1bdbd;
    padding-left: 5%;
    padding-right: 5%;
    &--send
    {
        width: 20%;
        height: 20px;
        box-shadow: none;
        font-size:0.6rem;
        margin-top:10px;
        cursor:pointer;
    }
}

/*MISE EN PAGE DE LA PARTIE FONCTIONNEMENT*/

.heading
{
    @include heading-style(1rem,bold,black);
    align-self: flex-start;
    padding-left: 10%;
    padding-top: 7%;
}


.operation
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

.operation__blocks
{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.operation__block
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
    box-shadow:  0px 4px 9px -2px #c1bdbd;
    height: 60px;
    width: 80%;
    margin-top: 5%;
    border-radius: 20px;
    @include heading-style(0.8rem,bold,black);
    &--pink
    {
    background-color: rgba(147, 86, 220, 0.2);
    }
}

.operation__block:hover
{
    background-color: lighten(#F6F6F6, 10%);
    box-shadow: 0px 4px 9px -2px #afacac;
}

.operation-block__number
{
    position: relative;
    right: 10px;
    background-color: $color-primary;
    width: 9%;
    height: 17px;
    padding-top: 2px;
    border-radius: 20px;
    text-align: center;
    @include heading-style(0.7rem, normal,white);
}

.operation-block__text
{
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 3%;
    .icon
{
    padding-right: 5%;
    &--pink{
        color:$color-primary;
    }
}
}

.restaurants
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    align-items: center;
    padding-bottom: 10%;
}

.block__restaurants
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.block_restaurant
{
    display: block;
    width: 80%;
    height: 200px;
    border-radius: 15px;
    box-shadow:  0px 4px 9px -2px #c1bdbd;
    line-height: 0.5rem;
    @include heading-style(0.8rem,normal,black);
    margin-bottom: 5%;
}

.block_restaurant img
{
    width: 100%;
    height: 140px;
    border-radius: 15px 15px 0px 0px;
}

.block_restaurant__heading
{
    position: relative;
    display: block;
&--new
{
    background-color: $color-tertiary;
    @include heading-style(0.7rem,bold,black);
    width: 30%;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    color: darken($color-tertiary, 40%);
    align-self: flex-end;
    position: absolute;
    left: 65%;
    top: 10%;
}
}

.block_restaurant__text
{
    cursor:pointer;
    padding-left: 10px;
    text-decoration:none;
    color:black;
    &--bold
    {
        font-weight: bold;
    }
}

.block_restaurant__description
{
    display: flex;
    justify-content: space-between; 
}

.icon__favoris
{
    padding-right: 10px;
    width: 10%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    cursor:pointer;
}

.icon__heart
{
  position: absolute;
  z-index:1;
  pointer-events: none;
}

.icon__heart--filled
{
    position:absolute;
    z-index: 2;
    opacity: 0;
    color: $color-secondary;
    background: -webkit-linear-gradient($color-secondary, $color-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0s;
    content:"";
    pointer-events: none; 
}

.icon__favoris:hover
{
    .icon__heart--filled
    {
        opacity: 1;
        transition: all 1s;
    }
    .icon__heart
    {
        opacity:0;
        transition: all 0.5s;
    }
}

.icon__favoris--checkbox
{
    opacity:0;
    cursor:pointer;
        &:checked{
            & + .icon__heart{
                opacity:0
            }
            & + .icon__heart--filled
                {
                    opacity:1;
                }
}
}

  
/*MISE EN PAGE DU FOOTER*/

footer
{
    display: flex;
    flex-direction: column;
    background-color: #353535;
    line-height: 1.3rem;
    padding-left: 10%;
}


.footer__logo
{
    width: 30%;
    padding-top: 6%;
    padding-bottom: 4%;
    filter: invert(100%);
}


.footer__link
{
    @include heading-style(0.8rem, normal, white);
    text-decoration: none;
    .footer__icon
    {
    font-size: 0.6rem;
    padding-right: 2%;
        &--fork
        {
        padding-right: 4.7%;
        }
    }
}

.footer__links
{
    display:flex;
    flex-direction: column;
}

.footer__contact
{
    @include heading-style(0.8rem, normal,white);
    text-decoration: none;
    margin-bottom: 5%;
}

/*mise en page du formulaire de contact*/

#formulaire_contact
{
   display: flex;
   flex-direction: column;
   width: 90%;
   height: 0px;
   overflow:hidden;
   transition: all 1s;
}

.footer__contact:active #formulaire_contact 
{
    height: 100%;
}

.icon__close
{
    color:$color-footer;
    font-size: 0.6rem;
    align-self: flex-end;
    transition: all 1s;
}

.icon__close:active #formulaire_contact
{
    height: 0px;
    overflow:hidden;
}

ul 
{
    list-style: none;
    padding-left:0px;
}

li
{
    display: flex;
    flex-direction: column;
}

.padding 
{
    padding-bottom: 20px;
}


.label__bordure
{
    height: 1px;
    background: $color-footer;
}


input::placeholder
{
    color: $color-footer;
    font-size: 0.8rem;
    font-style: italic;
}

input
{
    background: transparent;
    border:none;
}

textarea
{
    background: transparent;
    border:none;
}

textarea::placeholder
{
    color: $color-footer;
    font-size: 0.8rem;
    font-family: roboto;
    font-style: italic;
    position:relative;
    top: 15px;     
}



@import 'accueil_desktop';
