$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;


@mixin heading-style($size, $weight,$color)
{
    font-family: "Roboto";
    font-size:$size;
    font-weight: $weight;
    color: $color;
}


@font-face {
    font-family: 'Shrikhand';
    src: url('../polices/Shrikhand/Shrikhand-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Roboto';
    src: url('../polices/Roboto/Roboto-Regular.ttf')format('truetype');
}

@media screen and (min-width: 768px)

{

    body
    {
        margin:auto;
    }

.header__localisation
{
    @include heading-style(1rem, normal, black);
}

.header__heading
{
    padding-top: 5%;
    padding-bottom: 5%;
    
&--primary
{
    @include heading-style(1.2rem, bold,black);
}
&--secondary
    {
    @include heading-style(1rem, normal,black);
}
}

.__button
{
    width: 30%;
    @include heading-style(1rem,bold,white);
    cursor:pointer;
}

.operation
{
padding-bottom: 5%;
    &__blocks
{
display: flex;
width: 80%;
}
}

.operation h2
{
    padding-top:5%;
}

.operation__blocks
{
    flex-direction: row;
    width: 80%;
}

.operation__block
{
    width: 30%;
    margin-right: 5%;
    margin-top: 0%;
}

.operation-block__number
{
    width: 30px;
    height: 20px;
    padding-top: 4px;
    border-radius: 20px;
}

.restaurants
{
    padding-bottom: 5%
}

.restaurants h2
{
    padding-top:5%;
    padding-bottom: 5%;
}

.block__restaurants
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}

.block_restaurant
{
    width: 30%;
    margin-right: 5%;
    margin-bottom: 5%;
    height: 230px;
}

.block_restaurant__text
{
    @include heading-style(1rem,normal, black);
    padding-top: 10px;
    &--bold
    {
        font-size: bold;
    }
}

.heading
{
    @include heading-style(1rem,bold, black);
    padding-bottom:20px;
    padding-top: 4%;
}
}

.footer__logo
{
    width: 30%;
}

.footer__links
{
    display: flex;
    flex-direction: column;
}

.footer__link .footer__icon--fork
{
    padding-right: 2.8%;
}





      
