@import 'accueil';

body
{
    margin:0px;
}

.header__top 
{
    margin-bottom: -30px;
    .icon__arrow
    {
    display: flex;
    text-decoration: none;
    color: black;
    align-self: center;
    position: relative;
    right: 30px;
    }
}

.restaurant__photo
{
    position: relative;
    top: 30px;
    z-index: -1;
    height: 200px;
    &--bistro
    {
        background:url('images/restaurants/Restaurant_bistro.jpg');
        background-size:cover;
    }
    &--dragon
    {
        background:url('images/restaurants/Restaurant_asiat.jpg');
        background-size:cover;
    }
    &--vege
    {
        background:url('images/restaurants/Restaurant_vege.jpg');
        background-size:cover;
    }
    &--theatre
    {
        background:url('images/restaurants/Restaurant_fr.jpg');
        background-size:cover;
        background-position-y: 70%;
    }
}



.menu
{
    background: #eee;
    border-radius: 35px 35px 0px 0px;
    padding-bottom: 30px;
}

.heading
{
    font-family: Shrikhand;
    font-size: 0.7rem;
    display: flex;
    padding: 0px;
    justify-content: center;
}

.icon__heart
    {
        padding-left: 10px;
    }

.icon__heart--filled 
    {
        padding-left: 10px;

    }

.carte
{
    font-family: roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 15px;
}

.carte__heading
{
    display: flex;
    flex-direction:column;
    align-self: flex-start;
    padding-left: 15px;
    padding-bottom: 10px;
    h2
    {
        text-align: flex-start;
        font-size: 0.9rem;
    }
    .bordure    
    {
    width: 30px;
    background: $color-tertiary;
    height: 3px;
    position: relative;
    bottom: 10px;
    }
}

.block__menu
{
    font-family: 'roboto';
    background: white;
    border-radius: 10px 10px 10px 10px;
    width: 90%;
    height: 50px;
    margin-bottom: 10px;
    box-shadow:  0px 4px 9px -2px #c1bdbd;
    padding-left: 10px;
    position: relative;
    bottom: 10px;
    display: flex;
    cursor:pointer;  
        &--nom
    {
        @include heading-style(0.9rem, bold, black);
        margin:3px;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
        &--description
    {
        @include heading-style(0.8rem, normal, black);
        display: flex;
        justify-content: space-between;
        margin:3px;
    }
}

.block__menu--accompagnement 
{
    min-width:0px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin:3px;
}

.block__menu--texte 
{
    padding-top: 3px;
    width:100%;
    width: 100%;

}

.icon__check
{
  color:white;
}

.contents
{ 
  height:50px;
  justify-content: center;
  align-items: center;
  background: $color-tertiary;
  display:flex;
  width:0px;
  overflow:hidden;
  border-radius: 0px 10px 10px 0px;
  transition: all 0.5s;
}

.block__menu:hover .contents
{
  -webkit-transition: width 0.5s ease-in;
    -moz-transition: width 0.5s ease-in;
    -o-transition: width 0.5s ease-in;
    transition: width 0.5s ease-in;
    width:50px;  
}

.block__menu:hover .block__menu--texte 
{
   width:calc(100% - 50px);
   -webkit-transition: width 0.5s ease-in;
    -moz-transition: width 0.5s ease-in;
    -o-transition: width 0.5s ease-in;
    transition: width 0.5s ease-in;
}

.block__menu:hover .icon__check
{
  transform: rotate(360deg);
  transition: 0.5s ease-in-out;
  -webkit-transform: rotate(360deg);
}

.block__menu--1
{
  animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2s;
}

.block__menu--2
{
  animation: fadeIn ease 3s;
-webkit-animation: fadeIn ease 3s;
-moz-animation: fadeIn ease 3s;
-o-animation: fadeIn ease 3s;
-ms-animation: fadeIn ease 3s;
}

.block__menu--3
{
  animation: fadeIn ease 4s;
-webkit-animation: fadeIn ease 4s;
-moz-animation: fadeIn ease 4s;
-o-animation: fadeIn ease 4s;
-ms-animation: fadeIn ease 4s;
}

.block__menu--4
{
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}


@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}


.prix
{
    font-weight: bold;
    padding-right: 10px;
}

.commander
{
    display: flex;
    justify-content: center;
}

.__button
{
    width: 140px;
    cursor:pointer;
}

@import 'page_bistro_desktop';


