@media screen and (min-width: 768px)
{ 

.header__top .icon__arrow
{
    position: relative;
    right: 110px; 
}

.header__top-img
{
    width: 40%;
}

.heading
{
    font-size: 1rem;
    padding-left: 70px;
}

.carte__heading
{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-bottom: 10px;
}

.block__restaurants
{
    width: 60%;
}

.block__menu
{
    width: 300px;
}

.icon__heart--filled
{
    padding-left:10px;
}

.footer__link  .footer__icon
{
   padding-right: 1%;
}

.footer__link  .footer__icon--fork
{
    padding-right: 1.9%;
}

}
